.DS_Store
_build/
target/
target
.mooncakes/
.moonagent/
node_modules/
.wrangler/
*.lock
package-lock.json
examples/cloudflare-worker/package-lock.json
gateway/target/
gateway/_build/
crypto/*/target/
crypto/*/_build/
crypto/*/.mooncakes/
